{
  "arrowParens": "always",
  "printWidth": 180,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "quoteProps": "preserve",
  "tabWidth": 2,
  "jsxBracketSameLine": true,
  "endOfLine": "auto"
}